
@media screen and (max-width: 500px) {
    header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto !important;
        width: 100vw !important;
    }
    .article{
        margin-left: 40px !important;
        margin-bottom: 30px !important;
        width: 100vw !important;
        text-align: start;
    }

    .article h1{
        font-size: 30px;
    }

    .article p{
        font-size: 10px !important;
    }

    .container-logo{
        width: 80% !important;
        height: 400px !important;
    }
    .cards{
        width: 80% !important;
        margin: 0px !important;
        margin-bottom: 50px !important;
        margin-top: 50px !important;
    }
    .container-cards{
        width: 100vw !important;
    }

}