@font-face {
    font-family: "LatoRegular";
    src: url("../fontes/Lato-Regular.ttf");
}

@font-face {
    font-family: "MerriWeather";
    src: url("../fontes/Merriweather-Bold.ttf");
}

@font-face {
    font-family: "MerriWeatherRegular";
    src: url("../fontes/Merriweather-Regular.ttf");
}

body{
    background-color: var(--bgSite);
}

header{
    background-color: var(--bgSite);
    height: 620px;
    display: flex;
}

.article{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
    height: 540px;
    font-family: "MerriWeatherRegular";
    font-size: 20px;
}

.article h1{
    margin-top: 100px;
    color: var(--title)
}

.article p{
    margin-top: 70px;
    font-size: 13px;
    letter-spacing: 2px;
    color: var(--text)
}

.button{
    margin-top: 70px;
    width: 100px;
    padding: 10px;
    background-color: var(--buttonColor);
    border-radius: 6%;
    color: var(--white);
    padding: 10px;
}

.button:hover{
    background-color: #100a5f;
    cursor: pointer;
}

.container-logo{
    width: 50%;
    height: 540px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-logo img{
    margin-top: 20px;
    margin-right: 20px;
}

section{
    background-color:var(--white);
    height: auto;
}

.container-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: auto;
}

.cards{
    height: 350px;
    width: 250px;
    margin-left: 80px;   
    margin-top: 100px; 
    background-color: var(--white300);
    box-shadow: inset 0 0 1em white, 0 0 1em black
}

.cards2{
    margin-top: 100px;
    margin-bottom: 170px;
}

.backgroundCard{
    background-color: rgb(230, 66, 66);
    height: 180px;
    display: flex;
    flex-direction: column;
}

.contentCard{
    height: 150px;
}

.contentCard h3{
    margin-left: 20px;
    height: 40px;
    color: var(--title);
    margin-top: 20px;
}

.contentCard p{
    margin-left: 20px;
    margin-top: 6px;
    color: var(--text)
}

.container-content-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 700px;
}

.container-content-footer h3{
    font-family: "MerriWeatherRegular";
    font-weight: lighter;
    font-size: 30px;
    margin-top: 40px;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

.input{
    margin-top: 15px;
    width: 350px;
    height: 50px;
    border-radius: 4%;
    padding: 10px;
}

.input::placeholder{
    margin: 40px;
}

.container-content-footer form textarea{
    height: 100px;
    border: none;
}

